<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Code and Launch Your Own Web Application</h1>
    <br />
    <h2>Technical Skills Course From the Best Startup in the Country</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Video</h3>
      <%= image_tag 'video.png' %>
      <h2 class='text-center'>
        Step by step video instructions on how to build an awesome web application that looks good on mobile (responsive) and is live on the internet in one fun weekend.
      </h2>
  </div>

  <div class="col-sm-4">
    <h3>Computer</h3>
      <%= image_tag 'computer.png' %>
         <h2 class='text-center'>
          Learn the latest technologies used by the best Startups to build and launch products fast (Github, Heroku, AWS, Ruby on Rails, HTML5, CSS3...).
        </h2>
  </div>

  <div class="col-sm-4">
    <h3>Code</h3>
      <%= image_tag 'code.png' %>
        <h2 class='text-center'>
          All the code snippets, cheat sheets and notes you need to continue building applications on your own after the class is over.
        </h2>

  </div>
</div>